  // Imports
@import "utilities";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif:400i');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'PT Serif', serif;
}

header {
  @extend .Montserrat;
  position: fixed;
  width: $header-width;
  height: 100%;
  background-color: white;
  z-index: 999;
  padding-top: 40px;
  vertical-align: middle;

  .header-link {
    position: relative;
    padding-left: 20%;
    margin: 75px 0;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
    @include font-size(10px);

    &:hover > .underline {
      opacity: 1;
    }

    a {
      color: black;
      text-decoration: none;
    }

    .underline {
      position: absolute;
      width: 65%;
      margin-left: -5%;
      margin-top: 10px;
      pointer-events: none;
      opacity: 0;
      @include transition(opacity .4s);

      &.active {
        opacity: 1;
      }
    }
  }
}

#mobile-menu {
  @extend .Montserrat;
  position: fixed;
  z-index: 9999;
  top: 100%;
  height: 150px;
  width: 100%;
  line-height: 150px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  margin-top: -150px;
  font-size: 36px;

  a {
    margin: 0 20px;
  }

}

.sticky-wrapper {
  height: $header-height;
}

.stuck {
  position:fixed;
  top:0;
}

.quote {
  margin: 0 10%;
}

.clear-header {
  margin-left: $header-width;
}

#main {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  img {
    width: 100%;
    height: 100vh;
    object-position: top center;
    object-fit: cover;
  }

  .js-text {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 55%;
    object-fit: contain;
    object-position: center center;
    @include transition(opacity 1s ease-in-out);
  }
}

.header-title {
  @extend .Montserrat;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 85px 0;
  margin: 0;
  @include font-size(36px);
}

#our-story {
  background-color: white;
  padding-bottom: 100px;

  p {
    margin: 0 $margin;
    @include transition(height 1s ease-in-out);

    &.show {
      height: auto;
    }

    &.show ~ .view-more {
      display: none;
    }
  }

  .view-more {
    display: none;
    position: relative;
    z-index: 999;
    width: 100%;
    line-height: 100px;
    font-size: 24px;
    text-align: center;
  }
}

#rsvp {
  position: relative;
  height: 425px;
  text-align: center;
  background-color: $dark-gray;
  @include transition(all 0.5s ease-in-out);

  &.completed {
    .header-title {
      opacity: 0;
    }
  }

  .header-title {
    color: $white;
    margin: 0;
    @include transition(all 0.5s ease-in-out);

    &.hide {
      opacity: 0;
    }
  }

  .form-submit-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    opacity: 0;
    @include font-size(48px);
    @include transition(opacity 0.5s ease-in-out);

    &.active {
      opacity: 1;
    }
  }

  .form {

    .form-content {
      display: none;
      position: relative;

      &.active {
        display: inline-block;
        width: 45%;
      }

      .buttons {
        width: 100%;
        display: inline-block;
      }

      .button {
        @extend .PT-Serif;
        position: relative;
        color: white;
        width: 45%;
        margin-right: 11%;
        letter-spacing: 2px;
        background: none;
        padding: 20px 40px;
        margin: 15px 2%;
        border: 3px solid $white;

        &:last-child {
          margin-right: 0;
        }

        &:focus {
          outline: none;
        }

        &.js-attending {
          width: 26%;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      label {
        @extend .Montserrat;
        position: absolute;
        margin-top: 25px;
        margin-left: 25px;
        letter-spacing: 3.5px;
        color: white;
        @include font-size(12px);
        @include transition(all 0.1s ease);

        &.active {
          margin-top: -15px;
          @include font-size(10px);
        }
      }

      input {
        @extend .PT-Serif;
        width: 100%;
        padding: 10px 25px;
        color: white;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid $white;
        background: none;
        @include font-size(26px);

        &:focus {
          outline: none;
        }
      }

      .controls {
        @extend .Montserrat;
        float: right;
        text-transform: lowercase;
        letter-spacing: 3.5px;
        margin-right: 20px;
        cursor: pointer;
        color: $white;
        @include font-size(10px);
      }
    }
  }
}

#details {
  width: 100%;

  #map {
    width: 100%;
    height: 200px;
  }

  a {
    display: inline-block;
    color: $dark-gray;
    margin: 5px 0;
    text-decoration: none;
    border-bottom: 2px solid $dark-gray;

    &:hover, &:focus {
      border-color: transparent;
    }
  }

  .wedding-details, .hotel-details {
    background-color: $white;
    color: black;
    width: 100%;

    .header-title {
      padding-top: 40px 0 0 0;
    }
  }

  .details {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0 $margin;

    .column {
      width: 50%;

      &:first-child {
        margin-right: 10%;
      }
    }
  }

  .wedding-details {
    .name {
      @extend .Montserrat;
      font-size: 32px;
    }
    .directions {
      margin-bottom: 20px;
    }
  }

  .hotel-name {
    @extend .Montserrat;
    font-size: 32px;
  }

  .hotel-name, .hotel-phone, .hotel-directions {
    text-align: right;
  }

  .hotel-details {
    margin-bottom: 100px;
  }
}

#registry {
  text-align: center;
  color: white;
  height: 400px;
  background-color: $dark-gray;

  a {
    text-decoration: none;
  }

  .bg {
    height: 500px;
    width: 100%;
    margin-bottom: 100px;
  }

  .text {
    width: 40%;
    z-index: 999;
    margin: 80px 0;
  }

  .store {
    cursor: pointer;
    width: 20%;
    fill: $white;
    margin: 0 50px;
    @include transition(fill 0.2s ease);

    &:hover {
      fill: $gray;
    }
  }
}

#gallery {
  padding: 20px;

  .js-gallery-modal-trigger {
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

  .image {
    opacity: 0;
    width: 100%;
    padding: 20px;
    @include transition(opacity 1.75s ease-in-out);
  }
}

#js-gallery-modal {
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  @include transition(opacity 1s ease-in-out);
  &.active {
    opacity: 0.6;
  }
}

.active {
  text-decoration: none;
  color: black;
}

// -------------------------
// Salvattore
// -------------------------

#grid[data-columns]::before {
  content: '3 .column.size-1of3';
}

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

@media screen and (max-device-width: 768px) {
  header {
    display: none;
  }

  .clear-header {
    margin: 0;
  }

  #main {
    img {
      height: 60vh;
    }

    .js-text {
      width: 80%;
    }
  }

  .header-title {
    font-size: 56px;
  }

  #our-story {
    padding-bottom: 25px;

    p {
      height: 9.2em;
      overflow: hidden;
      margin: 0 10%;
      font-size: 42px;

      &.show {
        font-size: 14px;
        padding-bottom: 150px;
        &:after {
          background: none;
        }
      }
    }

    .view-more {
      display: block;
    }
  }

  #rsvp .form .form-content {
    &.active {
      width: 80%;
    }

    label {
      font-size: 36px;
      margin-top: 15px;
      margin-left: 15px;

      &.active {
        margin-top: -25px;
        font-size: 24px;
      }
    }

    input {
      font-size: 46px;
      padding-left: 15px;
      border-width: 5px;
    }

    .controls {
      font-size: 32px;
    }

    .button {
      font-size: 36px;
      margin: 25px 5px;
      padding: 15px 50px;

    }
  }

  #details .details {
    a {
      font-size: 32px;
    }

    margin: 0 10%;
    display: inline-block;

    .column {
      margin: 0;
      width: 100%;
      margin-bottom: 50px;
    }
  }

  #registry {
    height: 1000px;
    .store {
      width: 40%;
    }
  }

  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}


