<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jordan and Emily Skomer</title>
  <link href="stylesheets/style.css" rel="stylesheet">

</head>
<body>

  <div class="main bg">
    <object id="heart" type="image/svg+xml" data="assets/heart.svg"></object>
    <i class="fa fa-chevron-down"></i>
    <span>Scroll to View More</span>
  </div>

  <header>
    <div class="header-link">
      <a data-link="info">Wedding Info</a>
      <div class="underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
    <div class="header-link">
      <a data-link="our-story">Our Story</a>
      <div class="underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
    <div class="header-link">
      <a data-link="rsvp">RSVP</a>
      <div class="underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
    <div class="header-link">
      <a data-link="registry">Registry</a>
      <div class="underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
    <div class="header-link">
      <a data-link="gallery">Gallery</a>
      <div class="underline"><object type="image/svg+xml" data="assets/underline.svg"></object></div>
    </div>
  </header>


  <div id="info">
    <div class="header">
      <h1>Wedding Timeline</h1>
    </div>
    <div class="timeline">
      <div class="text">
        <object type="image/svg+xml" data="assets/couple.svg"></object>
        <div class="time">6:00</div>
        <div class="time-text">Ceremony Begins</div>
      </div>
      <div class="text">
        <object type="image/svg+xml" data="assets/ido.svg"></object>
        <div class="time">6:45</div>
        <div class="time-text">Together Forever</div>
      </div>
      <div class="text">
        <object type="image/svg+xml" data="assets/photos.svg"></object>
        <div class="time">7:00</div>
        <div class="time-text">Wedding Photos</div>
      </div>
      <div class="text">
        <object type="image/svg+xml" data="assets/cake.svg"></object>
        <div class="time">7:30</div>
        <div class="time-text">Cake Cutting</div>
      </div>
      <div class="text">
        <object type="image/svg+xml" data="assets/dance.svg"></object>
        <div class="time">8:00</div>
        <div class="time-text">Our First Dance</div>
      </div>
      <div class="text">
        <object type="image/svg+xml" data="assets/sendoff.svg"></object>
        <div class="time">9:30</div>
        <div class="time-text">Happily Ever After</div>
      </div>
    </div>
    <div id="map"></div>
    <div class="details">
      <div class="text">
        <i class="fa fa-caret-left"></i>
        <div class="image"></div>
        <h4>
          <a target="_blank" href="https://www.google.com/maps/place/Thistle+Hill/@32.7378889,-97.3446054,17z/data=!4m5!3m4!1s0x0:0xcba1c5417ebc9283!8m2!3d32.7379271!4d-97.3424298">Thistle Hill</a>
        </h4>
        <h5>Wedding Details</h5>
        <p>Please dress formally and arrive at Thistle Hill around 5:45 pm. 35W will still be under construction so we apologize for that nightmare.</p>
        <a target="_blank" href="https://www.google.com/maps/place/Thistle+Hill/@32.7378889,-97.3446054,17z/data=!4m5!3m4!1s0x0:0xcba1c5417ebc9283!8m2!3d32.7379271!4d-97.3424298">Venue Details and Map <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>

  <div id="our-story">
    <div class="heading">
      <h1>Our Story</h1>
    </div>
    <p>
      <span>L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et felis at dui porta ullamcorper at ut libero. Vivamus convallis rhoncus facilisis. Nam at porta lectus, non ultrices tellus. Nulla ac mollis ante, quis pellentesque turpis. Maecenas commodo congue erat, sit amet sodales nulla accumsan in. In sit amet eros ut mi consequat pharetra non egestas tortor. Integer quis velit ac lorem malesuada malesuada. Nam porta tincidunt efficitur.

      <br><span>N</span>am finibus risus tellus, ut venenatis ipsum iaculis sit amet. Etiam vehicula nunc vitae volutpat aliquet. Nam velit velit, porttitor vel rutrum in, fringilla ut sem. Sed lectus lacus, porttitor ut rhoncus ac, imperdiet in est. Donec posuere sollicitudin erat, ac lobortis dolor volutpat et. In laoreet ipsum at cursus posuere. Ut congue velit neque, tempor vehicula enim maximus in. Cras sit amet quam in magna volutpat volutpat ac in neque. Duis vitae diam risus.

      <br><span>D</span>onec nec nunc risus. Fusce imperdiet, nisi ac feugiat ullamcorper, justo ligula blandit quam, sit amet pharetra enim lacus sit amet augue. Nam in purus risus. Mauris convallis fringilla ultrices. Quisque in tellus eget turpis blandit fermentum quis a elit. Nam a fermentum ipsum. Donec a dui sed neque fringilla tincidunt. Ut gravida massa ac leo luctus placerat. Cras condimentum laoreet euismod. Quisque augue enim, maximus non mi vitae, maximus congue risus. Vivamus viverra consectetur mauris non sagittis.

      <br><span>D</span>uis nulla enim, tincidunt a nulla eu, dictum condimentum tellus. Suspendisse eget dui in eros mattis gravida. Aliquam suscipit tellus a vestibulum pellentesque. Curabitur mattis accumsan orci, at laoreet arcu hendrerit quis. Donec purus urna, hendrerit quis vestibulum et, pharetra eu felis. Nulla orci ipsum, tincidunt et ipsum in, venenatis venenatis nunc. Nunc auctor ante dictum lectus commodo, id interdum ante posuere. Nam tortor justo, tristique ornare lacinia et, porttitor eu quam. Vestibulum egestas, augue sit amet tempus rhoncus, dolor erat condimentum arcu, dignissim elementum nunc nibh eget odio. Morbi aliquet venenatis orci, sit amet congue turpis hendrerit quis. Vivamus imperdiet nisi venenatis justo bibendum maximus. Sed scelerisque sollicitudin orci id aliquam. Duis ligula lorem, vehicula auctor sem at, scelerisque laoreet purus. Nunc blandit vehicula risus, nec sodales ipsum euismod eget.

      <br><span>C</span>um sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc vel accumsan orci. Integer efficitur, sem sit amet sodales ultricies, purus nisi mollis quam, ut luctus leo lacus id massa. Aliquam aliquet magna vel metus iaculis ultrices. Nam sagittis dapibus sem at aliquet. Nunc non sollicitudin magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque in molestie erat. Vivamus lobortis quam vitae lorem porta ornare. In id mauris ultricies arcu commodo dictum. Sed dapibus mollis lacus ut iaculis. Etiam posuere erat sed nisi volutpat interdum.

      <br><span>N</span>unc tincidunt eget nibh sit amet euismod. Aliquam ac arcu quis lectus luctus fringilla quis et dolor. Maecenas tincidunt enim at accumsan placerat. Proin fringilla nunc id ligula gravida blandit. Sed lacinia sem leo, vitae auctor leo vulputate a. Aenean ac est scelerisque, iaculis metus a, pellentesque orci. Suspendisse a tellus nec enim consequat lacinia. Proin neque dolor, viverra vitae congue eget, pellentesque consequat dolor. Suspendisse at libero eu ipsum imperdiet suscipit varius non libero. Nunc viverra finibus erat eu vestibulum. Maecenas ultrices et mauris ut luctus. Integer at lacus at odio facilisis laoreet eu ac nunc.

      <br><span>I</span>n vitae ligula diam. Phasellus odio erat, pulvinar non accumsan sed, dictum sed libero. Nunc vel condimentum dui. Donec quis laoreet magna, quis pretium nunc. Vivamus maximus ex non enim dapibus commodo. Sed fermentum efficitur ligula, vel tristique purus gravida quis. Sed in purus non nisl laoreet auctor ut vitae purus. Fusce porttitor tortor sit amet eros varius iaculis.

      <br><span>C</span>um sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec pharetra odio ut diam ornare porttitor non nec lacus. Nam consectetur diam sed vestibulum pulvinar. Quisque non sapien lectus. Phasellus lacus mauris, pellentesque et leo et, ullamcorper molestie nisl. Vivamus mollis, lorem ac iaculis commodo, sapien nulla fermentum sapien, in rhoncus lacus ex sed urna. Aliquam at lorem lacus. Etiam quam massa, elementum quis tortor condimentum, accumsan eleifend neque. Etiam eget ex et massa vestibulum pellentesque. Vivamus tristique, magna at interdum facilisis, turpis sapien tempor dui, nec ornare purus sem sed nisi. Suspendisse vel sodales elit. Morbi sed tellus vitae metus viverra convallis. Praesent ullamcorper luctus tempus. In leo libero, interdum vitae mi eu, rhoncus sollicitudin leo. Integer aliquam arcu sit amet neque ultrices feugiat. Duis at felis id metus ornare accumsan.

      <br><span>P</span>roin semper libero ipsum, a vestibulum dui malesuada in. Nullam convallis feugiat nibh sed cursus. Donec pharetra, ante quis porttitor suscipit, nisi libero feugiat felis, eu maximus metus lectus eu mi. Duis quis ultricies urna. Donec faucibus lorem ut elementum efficitur. Donec suscipit fermentum massa, eu mollis orci luctus ut. Proin vestibulum eros non feugiat placerat. Nulla convallis lacinia aliquam. Pellentesque pulvinar tincidunt risus, ut pulvinar metus interdum a. Fusce sit amet gravida arcu. Pellentesque tempor, leo ut dictum vehicula, odio nisi viverra nunc, a sagittis mi ligula vel urna. Praesent quis orci ac lorem pharetra maximus. Quisque erat ante, vulputate sit amet magna finibus, aliquet posuere felis. Aenean ante est, vestibulum id enim ac, dignissim ullamcorper dui. Nam dapibus rhoncus nulla consequat vulputate.

      <br><span>Q</span>uisque a tempor sapien. Donec elementum neque nec ultrices feugiat. Aenean velit lorem, convallis id mollis eu, egestas volutpat diam. Nullam gravida nisi id nunc scelerisque dapibus. Mauris sagittis ligula ac quam bibendum imperdiet. Phasellus odio ipsum, volutpat vel magna id, malesuada mattis arcu. Fusce id augue eu felis hendrerit dapibus eu sed purus. Nunc nec ex in ante pulvinar tempor sit amet eget metus. Praesent faucibus tincidunt justo ac dapibus. Nullam sodales, nulla bibendum sagittis tincidunt, ipsum turpis mattis lectus, sed congue mauris lectus nec massa. Sed facilisis efficitur volutpat. Phasellus tempor dignissim turpis eu dapibus. Quisque faucibus risus vel iaculis auctor.

      <br><span>E</span>tiam tincidunt nunc hendrerit nisi lobortis molestie. Aliquam convallis, purus eu iaculis convallis, turpis nunc pretium justo, quis vestibulum tellus arcu nec tellus. Cras egestas vulputate eros, quis porta arcu sollicitudin et. Nullam et nibh auctor, vehicula risus sed, tincidunt metus. Aliquam at accumsan leo. In eu accumsan quam, ac egestas dui. Nunc maximus risus eget tortor feugiat sagittis. Phasellus efficitur rhoncus orci, vel vulputate mauris tempus non. Quisque id felis vel nisi consequat pretium lacinia non nunc. Aenean nec cursus massa. Ut dictum pulvinar nisl, eget facilisis nisi. Donec faucibus ex eu elementum finibus.

      <br><span>P</span>hasellus ut metus ac leo venenatis fermentum id eu nulla. Proin ut pretium eros, pellentesque convallis est. Aenean in varius nulla. Nam porttitor efficitur magna, et laoreet quam luctus vel. Nullam scelerisque mi quis neque tristique posuere. Integer a nisi odio. Curabitur iaculis enim ut metus fringilla condimentum. Pellentesque malesuada lorem lorem, id tincidunt nibh dignissim vitae.
    </p>
  </div>

  <div id="rsvp">
    <div class="container form">
      <div class="heading">
        <h4>RSVP</h4>
        <h7>Let us know if you will be attending our</h5>
      </div>
      <div class="form-content">
        <label for="first_name">First Name</label>
        <input class="u-full-width" type="text" id="first_name">
      </div>
      <div class="form-content">
        <label for="last_name">Last Name</label>
        <input class="u-full-width" type="text" id="last_name">
      </div>
      <div class="form-content">
        <label for="email_address">Email Address</label>
        <input class="u-full-width" type="text" id="email_address">
      </div>
      <div class="form-content">
        <label for="going">Will you make it?</label>
        <select class="u-full-width" type="text" id="going">
          <option value="0">Yes</option>
          <option value="1">No</option>
        </select>
      </div>
      <div class="form-content">
        <label for="plus_one">Will you be bringing a significant other?</label>
        <select class="u-full-width" type="text" id="plus_one">
          <option value="0">Yes</option>
          <option value="1">No</option>
        </select>
      </div>
      <div class="form-content">
        <label for="sig_first_name">First Name</label>
        <input class="u-full-width" type="text" id="sig_first_name">
      </div>
      <div class="form-content">
        <label for="sig_last_name">Last Name</label>
        <input class="u-full-width" type="text" id="sig_last_name">
      </div>

      <button id="next">next</button>
      <button id="next">prev</button>
      <input class="submit button-primary" type="button" value="Submit">
    </div>
  </div>

  <div id="registry">


  </div>

  <div id="gallery">

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="javascripts/index.js"></script>
  <script src="javascripts/vivus.min.js"></script>
  <script src="javascripts/jquery.waypoints.min.js"></script>
  <script src="javascripts/sticky.min.js"></script>
  <script src="https://use.fontawesome.com/de26dcab8d.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATi72fOX1uqmjpribhPwNicZzDCtmG824&callback=initMap"></script>
</body>
</html>