<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jordan and Emily Skomer</title>
  <link href="stylesheets/style.css" rel="stylesheet">

</head>
<body>
  <div class="bg"></div>
  <header>
    <a href="/gallery">Gallery</a>
    <a href="/registry">Registry</a>
    <a href="/rsvp">RSVP</a>
    <a href="/info">Wedding Info</a>
    <a href="/story">Our Story</a>
  </header>

  <div class="main">
    <object id="heart" type="image/svg+xml" data="assets/heart.svg"></object>
  </div>

  <div class="our-story">

  </div>

  <div class="container form">
    <div class="heading">
      <h4>RSVP</h4>
      <h7>Let us know if you will be attending our</h5>
    </div>
    <form>
    <div class="sub-heading">
      <h5>Your Name</h5>
    </div>
    <div class="form-content">
      <label for="first_name">First</label>
      <input class="u-full-width" type="text" id="first_name">
    </div>
    <div class="form-content">
      <label for="last_name">Last</label>
      <input class="u-full-width" type="text" id="last_name">
    </div>
    <button id="next">next</button>
    <button id="next">prev</button>
    <input class="submit button-primary" type="submit" value="Submit">
  </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="javascripts/index.js"></script>
  <script src="javascripts/vivus.min.js"></script>
</body>
</html>