<div class="container form">
    <div class="heading">
      <h4>RSVP</h4>
      <h7>Let us know if you will be attending our</h5>
    </div>
    <form>
    <div class="sub-heading">
      <h5>Your Name</h5>
    </div>
    <div class="form-content">
      <label for="first_name">First</label>
      <input class="u-full-width" type="text" id="first_name">
    </div>
    <div class="form-content">
      <label for="last_name">Last</label>
      <input class="u-full-width" type="text" id="last_name">
    </div>
    <button id="next">next</button>
    <button id="next">prev</button>
    <input class="submit button-primary" type="submit" value="Submit">
  </form>
</div>