@import url(bower_components/aos/dist/aos.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Serif:400i");
.hidden {
  display: none; }

.center, #main .text, #rsvp .form-submit-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.Montserrat, header, .header-title, #rsvp .form .form-content label, #rsvp .form .form-content .controls, #details .venue-details .title {
  font-family: 'Montserrat', sans-serif; }

.PT-Serif, #rsvp .form .form-content .button, #rsvp .form .form-content input {
  font-family: 'PT Serif', serif; }

p {
  margin-left: -55px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'PT Serif', serif; }

header {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: white;
  z-index: 999;
  padding-left: 80px;
  padding-top: 40px;
  vertical-align: middle; }
  header .header-link {
    font-size: 10px;
    font-size: 0.625rem;
    margin: 60px 0;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase; }
  header a {
    color: black;
    text-decoration: none; }
    header a:hover {
      color: black; }
    header a:hover + .underline {
      opacity: 1; }
  header .underline {
    width: 145px;
    margin-top: 10px;
    margin-left: -25px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s; }
    header .underline.active {
      opacity: 1; }

.sticky-wrapper {
  height: 80px; }

.stuck {
  position: fixed;
  top: 0; }

.clear-header {
  margin-left: 250px; }

#main {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  filter: grayscale(100%);
  height: 800px; }
  #main .text {
    display: block;
    position: absolute;
    width: 40%;
    margin-left: 150px; }

.header-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 85px 0 0 0;
  font-size: 36px;
  font-size: 2.25rem; }

#our-story {
  background-color: white;
  padding-bottom: 100px; }
  #our-story .header-title {
    margin-bottom: 85px; }
  #our-story p {
    margin: 0 20%; }
  #our-story p::first-letter {
    font-size: 18px;
    font-size: 1.125rem; }

#rsvp {
  height: 450px;
  text-align: center;
  background-color: #333333;
  transition: all 0.5s ease-in-out; }
  #rsvp.completed {
    height: 450px; }
    #rsvp.completed .header-title {
      display: none; }
  #rsvp .header-title {
    color: #ffffff; }
    #rsvp .header-title.hide {
      opacity: 0; }
  #rsvp .form-submit-text {
    position: absolute;
    color: #ffffff;
    font-size: 48px;
    font-size: 3rem; }
  #rsvp .form {
    margin-top: 140px; }
    #rsvp .form .form-content {
      margin-top: -15px;
      display: none;
      position: relative; }
      #rsvp .form .form-content.active {
        display: inline-block;
        width: 45%; }
      #rsvp .form .form-content .buttons {
        display: inline-block; }
      #rsvp .form .form-content .button {
        color: white;
        letter-spacing: 2px;
        background: none;
        padding: 20px 40px;
        margin: 15px 20px;
        border: 3px solid #ffffff; }
        #rsvp .form .form-content .button:focus {
          outline: none; }
      #rsvp .form .form-content label {
        position: absolute;
        margin-top: 25px;
        margin-left: 25px;
        letter-spacing: 3.5px;
        color: white;
        font-size: 12px;
        font-size: 0.75rem;
        transition: all 0.1s ease; }
        #rsvp .form .form-content label.active {
          margin-top: -15px;
          font-size: 10px;
          font-size: 0.625rem; }
      #rsvp .form .form-content input {
        width: 100%;
        padding: 10px 25px;
        color: white;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #ffffff;
        background: none;
        font-size: 26px;
        font-size: 1.625rem; }
        #rsvp .form .form-content input:focus {
          outline: none; }
      #rsvp .form .form-content .controls {
        float: right;
        text-transform: lowercase;
        letter-spacing: 3.5px;
        margin-right: 20px;
        cursor: pointer;
        color: #ffffff;
        font-size: 10px;
        font-size: 0.625rem; }

.overlay {
  background-color: black;
  width: 100%;
  height: 600px;
  position: absolute;
  z-index: 1;
  opacity: 0.4; }

#details {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #EBEBEB;
  padding-bottom: 50px; }
  #details #map {
    width: 100%;
    height: 600px;
    float: left;
    background-color: gray; }
  #details img {
    height: 200px;
    position: absolute; }
  #details .event-details, #details .venue-details {
    background-color: black;
    color: #ffffff;
    position: absolute;
    width: 40%;
    height: 200px;
    padding: 25px;
    z-index: 99; }
  #details .venue-details {
    width: 40%;
    height: 200px;
    padding: 25px;
    text-align: left; }
    #details .venue-details .title {
      letter-spacing: 5px;
      margin: 20px 0;
      text-transform: uppercase;
      font-size: 12px;
      font-size: 0.75rem; }

#registry {
  text-align: center;
  color: white;
  background-color: #333333; }
  #registry .bg {
    height: 500px;
    width: 100%;
    margin-bottom: 100px; }
  #registry .text {
    width: 40%;
    z-index: 999;
    margin: 80px 0; }
  #registry .store {
    cursor: pointer;
    width: 20%;
    margin: 0 50px; }
    #registry .store:hover {
      color: red; }

#gallery {
  padding: 20px; }
  #gallery .image {
    width: 100%;
    padding: 20px; }

.active {
  text-decoration: none;
  color: black; }

#grid[data-columns]::before {
  content: '3 .column.size-1of3'; }

/* These are the classes that are going to be applied: */
.column {
  float: left; }

.size-1of3 {
  width: 33.333%; }
