@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.hidden {
  display: none; }

.center, #main .text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.Satisfy {
  font-family: 'Satisfy', cursive; }

p {
  margin-left: -55px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

header {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: white;
  z-index: 999;
  padding-left: 80px;
  padding-top: 3%;
  vertical-align: middle; }
  header .header-link {
    font-size: 10px;
    margin: 80px 0;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase; }
  header a {
    color: black;
    text-decoration: none; }
    header a:hover {
      color: black; }
    header a:hover + .underline {
      opacity: 1; }
  header .underline {
    width: 145px;
    margin-top: 10px;
    margin-left: -25px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s; }
    header .underline.active {
      opacity: 1; }

.sticky-wrapper {
  height: 80px; }

.stuck {
  position: fixed;
  top: 0; }

.clear-header {
  margin-left: 250px; }

#main {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  filter: grayscale(100%);
  height: 800px; }
  #main .text {
    display: block;
    position: absolute;
    width: 40%;
    margin-left: 150px; }

#our-story {
  height: 1000px;
  background-color: white;
  padding: 80px 250px; }
  #our-story .heading {
    text-align: center; }
  #our-story p span {
    font-size: 4rem; }

#details {
  position: relative;
  width: 100%;
  height: 1100px;
  background-color: #EBEBEB;
  padding-bottom: 50px; }
  #details #map {
    position: absolute;
    width: 100%;
    height: 500px;
    float: left;
    background-color: gray; }

#rsvp {
  height: 800px;
  background-color: yellow;
  padding: 80px 250px; }

#registry {
  height: 500px;
  background-color: blue;
  padding: 80px 250px; }

#gallery {
  height: 1080px;
  background-color: grey;
  padding: 80px 250px; }

.active {
  text-decoration: none;
  color: black; }
