@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Serif:400i");
.hidden {
  display: none; }

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.Montserrat, header, #mobile-menu, .header-title, #rsvp .form .form-content label, #rsvp .form .form-content .controls, #details .wedding-details .name, #details .hotel-name {
  font-family: 'Montserrat', sans-serif; }

.PT-Serif, #rsvp .form .form-content .button, #rsvp .form .form-content input {
  font-family: 'PT Serif', serif; }

p {
  margin-left: -55px; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: 'PT Serif', serif; }

header {
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: white;
  z-index: 999;
  padding-top: 40px;
  vertical-align: middle; }
  header .header-link {
    position: relative;
    padding-left: 20%;
    margin: 75px 0;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    font-size: 0.625rem; }
    header .header-link:hover > .underline {
      opacity: 1; }
    header .header-link a {
      color: black;
      text-decoration: none; }
    header .header-link .underline {
      position: absolute;
      width: 65%;
      margin-left: -5%;
      margin-top: 10px;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.4s; }
      header .header-link .underline.active {
        opacity: 1; }

#mobile-menu {
  position: fixed;
  z-index: 9999;
  top: 100%;
  height: 150px;
  width: 100%;
  line-height: 150px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  margin-top: -150px;
  font-size: 36px; }
  #mobile-menu a {
    margin: 0 20px; }

.sticky-wrapper {
  height: 80px; }

.stuck {
  position: fixed;
  top: 0; }

.quote {
  margin: 0 10%; }

.clear-header {
  margin-left: 20%; }

#main {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #main img {
    width: 100%;
    height: 100vh;
    object-position: top center;
    object-fit: cover; }
  #main .js-text {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 55%;
    object-fit: contain;
    object-position: center center;
    transition: opacity 1s ease-in-out; }

.header-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 85px 0;
  margin: 0;
  font-size: 36px;
  font-size: 2.25rem; }

#our-story {
  background-color: white;
  padding-bottom: 100px; }
  #our-story p {
    margin: 0 15%;
    transition: height 1s ease-in-out; }
    #our-story p.show {
      height: auto; }
    #our-story p.show ~ .view-more {
      display: none; }
  #our-story .view-more {
    display: none;
    position: relative;
    z-index: 999;
    width: 100%;
    line-height: 100px;
    font-size: 24px;
    text-align: center; }

#rsvp {
  position: relative;
  height: 425px;
  text-align: center;
  background-color: #333333;
  transition: all 0.5s ease-in-out; }
  #rsvp.completed .header-title {
    opacity: 0; }
  #rsvp .header-title {
    color: #ffffff;
    margin: 0;
    transition: all 0.5s ease-in-out; }
    #rsvp .header-title.hide {
      opacity: 0; }
  #rsvp .form-submit-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 0;
    font-size: 48px;
    font-size: 3rem;
    transition: opacity 0.5s ease-in-out; }
    #rsvp .form-submit-text.active {
      opacity: 1; }
  #rsvp .form .form-content {
    display: none;
    position: relative; }
    #rsvp .form .form-content.active {
      display: inline-block;
      width: 45%; }
    #rsvp .form .form-content .buttons {
      width: 100%;
      display: inline-block; }
    #rsvp .form .form-content .button {
      position: relative;
      color: white;
      width: 45%;
      margin-right: 11%;
      letter-spacing: 2px;
      background: none;
      padding: 20px 40px;
      margin: 15px 2%;
      border: 3px solid #ffffff; }
      #rsvp .form .form-content .button:last-child {
        margin-right: 0; }
      #rsvp .form .form-content .button:focus {
        outline: none; }
      #rsvp .form .form-content .button.js-attending {
        width: 26%; }
        #rsvp .form .form-content .button.js-attending:last-child {
          margin-right: 0; }
    #rsvp .form .form-content label {
      position: absolute;
      margin-top: 25px;
      margin-left: 25px;
      letter-spacing: 3.5px;
      color: white;
      text-align: left;
      font-size: 12px;
      font-size: 0.75rem;
      transition: all 0.1s ease; }
      #rsvp .form .form-content label.active {
        margin-top: -15px;
        font-size: 10px;
        font-size: 0.625rem; }
    #rsvp .form .form-content input {
      width: 100%;
      padding: 10px 25px;
      color: white;
      margin-bottom: 10px;
      border: none;
      border-bottom: 1px solid #ffffff;
      background: none;
      font-size: 26px;
      font-size: 1.625rem; }
      #rsvp .form .form-content input:focus {
        outline: none; }
    #rsvp .form .form-content .controls {
      float: right;
      text-transform: lowercase;
      letter-spacing: 3.5px;
      margin-right: 20px;
      cursor: pointer;
      color: #ffffff;
      font-size: 10px;
      font-size: 0.625rem; }

#details {
  width: 100%; }
  #details #map {
    width: 100%;
    height: 200px; }
  #details a {
    display: inline-block;
    color: #333333;
    margin: 5px 0;
    text-decoration: none;
    border-bottom: 2px solid #333333; }
    #details a:hover, #details a:focus {
      border-color: transparent; }
  #details .wedding-details, #details .hotel-details {
    background-color: #ffffff;
    color: black;
    width: 100%; }
    #details .wedding-details .header-title, #details .hotel-details .header-title {
      padding-top: 40px 0 0 0; }
  #details .details {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin: 0 15%; }
    #details .details .column {
      width: 50%; }
      #details .details .column:first-child {
        margin-right: 10%; }
  #details .wedding-details .name {
    font-size: 32px; }
  #details .wedding-details .directions {
    margin-bottom: 20px; }
  #details .hotel-name {
    font-size: 32px; }
  #details .hotel-name, #details .hotel-phone, #details .hotel-directions {
    text-align: right; }
  #details .hotel-details {
    margin-bottom: 100px; }

#registry {
  text-align: center;
  color: white;
  height: 400px;
  background-color: #333333; }
  #registry a {
    text-decoration: none; }
  #registry .bg {
    height: 500px;
    width: 100%;
    margin-bottom: 100px; }
  #registry .text {
    width: 40%;
    z-index: 999;
    margin: 80px 0; }
  #registry .store {
    cursor: pointer;
    width: 20%;
    fill: #ffffff;
    margin: 0 50px;
    transition: fill 0.2s ease; }
    #registry .store:hover {
      fill: #B4B4B4; }

#gallery {
  padding: 20px; }
  #gallery .js-gallery-modal-trigger {
    cursor: pointer;
    height: 100%;
    width: 100%; }
  #gallery .image {
    opacity: 0;
    width: 100%;
    padding: 20px;
    transition: opacity 1.75s ease-in-out; }

#js-gallery-modal {
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out; }
  #js-gallery-modal.active {
    opacity: 0.6; }

.active {
  text-decoration: none;
  color: black; }

#grid[data-columns]::before {
  content: '3 .column.size-1of3'; }

.column {
  float: left; }

.size-1of1 {
  width: 100%; }

.size-1of2 {
  width: 50%; }

.size-1of3 {
  width: 33.333%; }

@media screen and (max-device-width: 768px) {
  header {
    display: none; }

  .clear-header {
    margin: 0; }

  #main img {
    height: 60vh; }
  #main .js-text {
    width: 80%; }

  .header-title {
    font-size: 56px; }

  #our-story {
    padding-bottom: 25px; }
    #our-story p {
      height: 9.2em;
      overflow: hidden;
      margin: 0 10%;
      font-size: 42px; }
      #our-story p.show {
        font-size: 14px;
        padding-bottom: 150px; }
        #our-story p.show:after {
          background: none; }
    #our-story .view-more {
      display: block; }

  #rsvp .form .form-content.active {
    width: 80%; }
  #rsvp .form .form-content label {
    font-size: 36px;
    margin-top: 15px;
    margin-left: 15px; }
    #rsvp .form .form-content label.active {
      margin-top: -25px;
      font-size: 24px; }
  #rsvp .form .form-content input {
    font-size: 46px;
    padding-left: 15px;
    border-width: 5px; }
  #rsvp .form .form-content .controls {
    font-size: 32px; }
  #rsvp .form .form-content .button {
    font-size: 36px;
    margin: 25px 5px;
    padding: 15px 50px; }

  #details .details {
    margin: 0 10%;
    display: inline-block; }
    #details .details a {
      font-size: 32px; }
    #details .details .column {
      margin: 0;
      width: 100%;
      margin-bottom: 50px; }

  #registry {
    height: 1000px; }
    #registry .store {
      width: 40%; }

  #grid[data-columns]::before {
    content: '1 .column.size-1of1'; } }
